html {
    font-size: 62.5%; /* 62.5% de 16px = 10px */
}

body {
    display: block;
    flex-wrap: wrap;
    background-color: #101214;
    margin: 0 0 10rem 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    color: #fffbf2;
    animation: fadeIn .8s ease-in;

    .bg {
        animation:slide 3s ease-in-out infinite alternate;
        background-image: linear-gradient(-60deg, rgb(186, 47, 156) 50%, #09f 50%);
        bottom:0;
        left:-50%;
        opacity:.5;
        position:fixed;
        right:-50%;
        top:0;
        z-index:-1;
    }
      
    .bg2 {
        animation-direction:alternate-reverse;
        animation-duration:4s;
    }
      
    .bg3 {
        animation-duration:5s;
    }

    #entete {
        display: flex;
        justify-content: space-around;
        width: 100%;
        z-index: 9999;
        position: fixed;
        top: 0;
        background-color: #101214;
        color: #fffbf2;        
        /* Haut Droite Bas Gauche */
        padding: 1rem 0 1rem 0;
        
        #selfIntro {
            #name {
                font-size: 4rem;
                font-weight: 700;
            }
            
            #job {
                font-size: 2rem;
            }
        }

        /* .socials{

        } */


    }
    
    #backToIndex {
        input {
            /* font-size: 1.6rem;
            padding: 0.5rem 1rem 0.5rem 1rem;
            border-radius: 10px;
            border: none;
            background-color: #fffbf2;
            color: #101214;
            font-weight: 700;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s; */
            position: fixed;
            top: 105px;
            left: 60px;
            z-index: 99;
        }
    }

    .contentGrid{
        margin-top: 15rem;
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        /* grid-template-rows: repeat(3, 1fr); */
        grid-template-rows: 25fr 7fr 15fr 7fr 25fr;
        justify-items: center;
        /* gap: 2rem; */
        align-items: stretch;

        .grid-block{
            background-color: #101214;
            border-radius: 25px;
            /* margin-top: 10%; */
            /* margin-left: 17%; */
            /* margin-right: 17%; */
            box-shadow: 0 50px 40px -20px black;

            outline: solid;
            outline-color: #fffbf2 ;
            outline-width: 3.5px;
            outline-offset: 5px;
            
            font-family: 'Quicksand', sans-serif;

            position: relative;

            animation: slideInFromTop .8s;
        }

        .first {
            padding: 2rem;
            grid-column-start: 1;
            grid-column-end: 6;
            grid-row-start: 1;
            grid-row-end: 3;
                        margin-left: 17%;
            margin-right: 17%;
        }

        .second {
            padding: 2rem;
            grid-column-start: 1;
            grid-column-end: 6;
            grid-row-start: 4;
            grid-row-end: 6;
                        margin-left: 17%;
            margin-right: 17%;
        }

        .third {
            grid-column-start: 5;
            grid-column-end: 10;
            grid-row-start: 1;
            grid-row-end: 6;
            width: 50rem;
            height: 100%;
        }
    }

    .centralBlock {
        background-color: #101214;
        border-radius: 25px;
        margin-top: 10%;
        margin-left: 17%;
        margin-right: 17%;
        box-shadow: 0 50px 40px -20px black;

        outline: solid;
        outline-color: #fffbf2 ;
        outline-width: 3.5px;
        outline-offset: 5px;
        
        font-family: 'Quicksand', sans-serif;

        position: relative;
        animation: slideInFromTop .8s;
    }
}



video {
    margin: 0;
    width: 100%;
    border-top-right-radius: 2.5rem;
    border-top-left-radius: 2.5rem;
}



@media (max-width: 1000px) {
    #project-grid {
      grid-template-columns: 1fr; /* une seule colonne */
      grid-template-rows: auto;   /* laisse les lignes se créer naturellement */
    }
}

.bodyAnimateOut {
    transition: opacity .8s;
    opacity: 0;
}


.contentBlockAnimateOut {
    transition: right .8s;
    right: 200%;
}



@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

/* #region Animations*/

@keyframes slideInFromTop {
    0% { 
        bottom : 50%;
        opacity: 0%;
    }
    
    100% {
        bottom: 0%;
        opacity: 100%;
    }
}

@keyframes slideInFromLeft {
    0% { 
        right : 100%;
        opacity: 0%;
    }
    
    100% {
        right: 0%;
        opacity: 100%;
    }
}

@keyframes slideInFromRight {
    0% {
        left: 100%;
        opacity: 0%;
    }

    100% {
        left: 0%;
        opacity: 100%;
    }
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
}

  @keyframes rotate {
    to {
      --angle: 360deg;
    }
}
/* #endregion */