html {
    font-size: 62.5%; /* 62.5% de 16px = 10px */
}

body {
    padding-top: 3rem;
    display: block;
    flex-wrap: wrap;
    background-color: #101214;
    margin: 0 0 10rem 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    color: #fffbf2;
    animation: fadeIn .8s ease-in;

    /* .bg {
        animation:slide 3s ease-in-out infinite alternate;
        background-image: linear-gradient(-60deg, rgb(186, 47, 156) 50%, #09f 50%);
        bottom:0;
        left:-50%;
        opacity:.5;
        position:fixed;
        right:-50%;
        top:0;
        z-index:-1;
    } */
      
    .bg2 {
        animation-direction:alternate-reverse;
        animation-duration:4s;
    }
      
    .bg3 {
        animation-duration:5s;
    }

    #entete {
        display: flex;
        justify-content: space-around;
        width: 100%;
        z-index: 9999;
        position: fixed;
        top: 0;
        background-color: #1d1e20;
        color: #fffbf2;        
        /* Haut Droite Bas Gauche */
        padding: 1rem 0 1rem 0;
        
               #selfIntro {
            #name {
                color: #5f43ff;
                font-size: 4rem;
                font-weight: 700;
            }
            
            #job {
                font-size: 2rem;
            }
        }

        #socials{
            font-size: 2rem;
            color: #5f43ff;
            #link-logos{
                .social-logo {
                    width: 3rem;
                    height: 3rem;
                    margin-top: 1rem;
                    margin-right: 1rem;
                }

                .social-logo:hover {
                    filter: brightness(0) saturate(100%) invert(91%) sepia(67%) saturate(938%) hue-rotate(310deg) brightness(104%) contrast(102%);
                }
            }
        }
    }
    
    #backToIndex {
        input {
            /* font-size: 1.6rem;
            padding: 0.5rem 1rem 0.5rem 1rem;
            border-radius: 10px;
            border: none;
            background-color: #fffbf2;
            color: #101214;
            font-weight: 700;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s; */
            position: fixed;
            top: 120px;
            left: 5px;
            z-index: 99;
            color: #5f43ff;
            font-weight: 500;
            font-size: 25px;
            font-family: 'Montserrat', sans-serif;
            background: none;
            border: none;
            cursor: pointer;
        }

        :hover{
            color: #9895fb;
        }
    }

    a{
        text-decoration: none;
        color: #ffca67;

        &:hover {
            text-decoration: underline;
            color: #ffd78e;
        }
    }

    .contentGrid{
        margin-top: 7%;
        display: grid;
        /* grid-template-columns: repeat(9, 1fr); */
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 25fr 7fr 15fr 7fr 25fr;
        justify-items: center;
        /* gap: 2rem; */
        align-items: stretch;

        .grid-block{
            background-color: #1d1e20;
            border-radius: 0.3rem;
            /* margin-top: 10%; */
            /* margin-left: 17%; */
            /* margin-right: 17%; */
            box-shadow: 0 50px 40px -20px black;

            outline: solid;
            outline-color: #fffbf24c ;
            outline-width: 3.5px;
            outline-offset: 5px;
            
            font-family: 'Quicksand', sans-serif;

            position: relative;

            /* animation: slideInFromTop .8s; */

            .title {
                font-size: 30px;
                font-family: 'Montserrat', sans-serif;
            }

            .blue{
                color: #5f43ff;
                font-weight: 500;
            }

            .orange{
                color: #ffca67;
                font-weight: 500;
            }
        }

        .top {
            padding: 2rem;
            grid-column-start: 3;
            grid-column-end: 8;
            grid-row-start: 1;
            grid-row-end: 3;
            margin-left: 17%;
            margin-right: 17%;
            display: flex;
            flex-direction: column;
            animation: slideInFromLeft .8s;
        }


        .first{
            padding: 2rem;
            grid-column-start: 4;
            grid-column-end: 5;
            grid-row-start: 4;
            grid-row-end: 6;
            width: 21rem;
            display: flex;
            flex-direction: column;
            animation: slideInFromLeft .8s;

            a{
                margin: 1.5rem 7.5rem 0rem 7.5rem;

                &:hover {
                    transform: scale(1.2);
                    transition: 0.5s;
            
                }
            }
            
            .build-link{
                /* padding: 1.5rem 0rem 0rem 7.5rem; */
                width: 6rem;
                height: 6rem;
            
                &:hover {
                    /* filter: brightness(0) saturate(100%) invert(75%) sepia(8%) saturate(2535%) hue-rotate(178deg) brightness(102%) contrast(101%); */
                    filter: brightness(0) saturate(100%) invert(88%) sepia(20%) saturate(1467%) hue-rotate(315deg) brightness(110%) contrast(113%);
                }
            }
            
        }

        .second {
            padding: 2rem;
            grid-column-start: 3;
            grid-column-end: 8;
            grid-row-start: 4;
            grid-row-end: 6;
            display: flex;
            margin-right: 17%;
            flex-direction: column;
            justify-self: right;
            animation: slideInFromRight .8s;

            .bloc-detail {
                display: flex;
                margin-right: 2rem;
                font-size: 1.6rem;
                .logo {
                    display: flex;
                    width: 2.5rem;    /* taille uniforme */
                    height: 2.5rem;
                    padding: 0.5rem;
                    margin-right: 0.5rem;
                    img {
                        max-width: 80%;
                        max-height: 80%;
                        object-fit: contain; 
                      }
                }

                span{
                    display: flex;
                    align-items: center;
                }
            }
        }

        .third {
            grid-column-start: 5;
            grid-column-end: 10;
            grid-row-start: 1;
            grid-row-end: 6;
            width: 50rem;
            height: 100%;
            animation: slideInFromRight .8s;
        }
    }

    .block {
        background-color: #1d1e20;
        border-radius: 0.3rem;

        padding: 2rem;
        margin-top: 7%;

        box-shadow: 0 50px 40px -20px black;

        display: flex;
        flex-direction: column;

        outline: solid;
        outline-color: #fffbf24c;
        outline-width: 3.5px;
        outline-offset: 5px;
        font-family: 'Quicksand', sans-serif;
        position: relative; 
        animation: slideInFromRight .8s;

        .title {
            font-size: 30px;
            font-family: 'Montserrat', sans-serif;
        }

        .blue{
            color: #5f43ff;
            font-weight: 500;
        }

        .orange{
            color: #ffca67;
            font-weight: 500;
        }

        iframe{
            margin-left: 4vw;
            width: 90rem;
            height: 60rem;
        }
    }

    .central{
        margin-left: 17%;
        margin-right: 17%;
    }

    .left{
        margin-left: 9%;
        margin-right: 35%;
    }

    .right{
        margin-left: 30%;
        margin-right: 9%;
    }

    .project-title {
        font-family: 'Montserrat', sans-serif;
        font-size: 5rem;
        font-weight: 700;
        /* color: #8aceff; */
        text-align: center;
        margin-left: 30%;
        margin-right: 30%;
    }

    .feature-display{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        justify-items: stretch;
 
        .vitrine{
            display: flex;
            align-items: center;
            justify-content: center;

            /* A REGLER EVENTUELLEMENT*/
            img{
                border-radius: 25px;                
                margin: 0 0.25rem 0 0.25rem;
            }
        }

        .horizontal{
            flex-direction: row;
        }

        .vertical{
            flex-direction: column;
            height: 100%;
            justify-content: space-evenly;
           
            img{
                width: 70%;
            }
        }

        .block {
            margin: 7% 3.5% 0% 3.5%;
        }

        img{
            padding: 0%;
            width: 35%;
        }
    }
}



video {
    margin: 0;
    width: 100%;
    border-top-right-radius: 2.5rem;
    border-top-left-radius: 2.5rem;
}



@media (max-width: 1000px) {
    #project-grid {
      grid-template-columns: 1fr; /* une seule colonne */
      grid-template-rows: auto;   /* laisse les lignes se créer naturellement */
    }
}

.bodyAnimateOut {
    transition: opacity .8s;
    opacity: 0;
}


.contentBlockAnimateOut {
    transition: right .8s;
    right: 200%;
}



@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

/* #region Animations*/

@keyframes slideInFromTop {
    0% { 
        bottom : 50%;
        opacity: 0%;
    }
    
    100% {
        bottom: 0%;
        opacity: 100%;
    }
}

@keyframes slideInFromLeft {
    0% { 
        right : 100%;
        opacity: 0%;
    }
    
    100% {
        right: 0%;
        opacity: 100%;
    }
}

@keyframes slideInFromRight {
    0% {
        left: 100%;
        opacity: 0%;
    }

    100% {
        left: 0%;
        opacity: 100%;
    }
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
}

  @keyframes rotate {
    to {
      --angle: 360deg;
    }
}
/* #endregion */